html
{
  font-family: Helvetica, Arial, sans-serif;
}

.tool_container
{
  overflow-x: scroll;
  white-space: nowrap;
}

.tool_container *
{
  white-space: normal;
}

.sidebar
{
  overflow: scroll;
}

.sidebar h1
{
  margin-top: 0;
}

.sidebar_container
{
  line-height: 0;
  vertical-align: top;
}

.sidebar_container *
{
  line-height: initial;
}

.use-container
{
  display: flex;
  padding: 5px 0 5px 0;
}

.use-container svg
{
  flex-shrink: 0;
}

.use-container p
{
  flex-basis: 100%;
  margin: 0 0 0 5px;
  align-self: center;
}

#link-sidebar-header-container
{
  display: flex;
}

#link-sidebar-header-container h1
{
  margin: 0;
  margin: 0 0 0 10px;
  align-self: center;
}

.node circle
{
  cursor: pointer;
}

.link polyline
{
  cursor: pointer;
}
