html
{
  font-family: Helvetica, Arial, sans-serif;
}

.tool_container
{
  overflow-x: scroll;
  white-space: nowrap;
}

.tool_container *
{
  white-space: normal;
}

.sidebar
{
  overflow: scroll;
}

.sidebar h1
{
  margin-top: 0;
}

.sidebar_container
{
  line-height: 0;
}

.sidebar_container *
{
  line-height: initial;
}

.node circle
{
  cursor: pointer;
}

.link polyline
{
  cursor: pointer;
}
